
body{
	border: 0;
	margin: 0;
}
.counter {
    background: #ccc;
	width: 74px;
	position: absolute;
	background-color:#105CB6;
	padding: 3px;
	
	top:50px;
	
	color:#0ff;
	font-family: Helvetica, Arial;
	font-size: 9px;
	font-weight: bold;
}


