name: Pull Request Title Format

on:
  pull_request:
    branches:
      - '*'
    types:
      - opened
      - reopened
      - edited
      - synchronize

jobs:
  prTitle:
    name: Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Check PR Title
        uses: clowdhaus/actions/pr-title@v0.1.0
        with:
          on-fail-message: "Your PR title doesn't match the required format. The title should be in this format: \n\n```\nchore: add pr title workflow\n```"
          title-regex: '^(chore|feat|fix|breaking)?(!)?\:\s.*$'
          github-token: ${{ secrets.GITHUB_TOKEN }}
